lcs-sysinfo/phpsysinfo/phpsysinfo.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- $Id: phpsysinfo.xsd 149 2009-03-20 14:50:14Z bigmichi1 $ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified">
  <xs:element name="phpsysinfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Generation" />
        <xs:element ref="Options" />
        <xs:element ref="Vitals" />
        <xs:element ref="Network" />
        <xs:element ref="Hardware" />
        <xs:element ref="Memory" />
        <xs:element ref="Swap" />
        <xs:element ref="Swapdevices" />
        <xs:element ref="FileSystem" />
        <xs:element ref="MBinfo" minOccurs="0" />
        <xs:element ref="HDDTemp" minOccurs="0" />
        <xs:element ref="UPSinfo" minOccurs="0" />
        <xs:element ref="Plugins" minOccurs="0" />
        <xs:element ref="Errors" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Generation">
    <xs:complexType>
      <xs:attribute name="version" type="xs:string" use="required" />
      <xs:attribute name="timestamp" type="xs:unsignedLong" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Options">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tempFormat" />
        <xs:element ref="byteFormat" />
        <xs:element ref="refresh" />
        <xs:element ref="Used_Plugins" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tempFormat" type="xs:string" default="c" />
  <xs:element name="byteFormat" type="xs:string" default="auto" />
  <xs:element name="Used_Plugins">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Plugin" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Plugin" type="xs:string" />
  <xs:element name="Vitals">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Hostname" />
        <xs:element ref="IPAddr" />
        <xs:element ref="Kernel" />
        <xs:element ref="Distro" />
        <xs:element ref="Distroicon" />
        <xs:element ref="Uptime" />
        <xs:element ref="Users" />
        <xs:element ref="LoadAvg" />
        <xs:element ref="CPULoad" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hostname" type="xs:string" />
  <xs:element name="IPAddr">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern
          value="(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Kernel" type="xs:string" />
  <xs:element name="Distro" type="xs:string" />
  <xs:element name="Distroicon" type="xs:string" />
  <xs:element name="Uptime">
    <xs:simpleType>
      <xs:restriction base="xs:float">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Users">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0" fixed="false" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="LoadAvg" type="xs:string" />
  <xs:element name="CPULoad" type="xs:decimal" />
  <xs:element name="Network">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="NetDevice" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NetDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name" />
        <xs:element ref="RxBytes" />
        <xs:element ref="TxBytes" />
        <xs:element ref="Err" />
        <xs:element ref="Drops" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Name" type="xs:string" />
  <xs:element name="RxBytes">
    <xs:simpleType>
      <xs:restriction base="xs:unsignedLong">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TxBytes">
    <xs:simpleType>
      <xs:restriction base="xs:unsignedLong">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Err">
    <xs:simpleType>
      <xs:restriction base="xs:unsignedLong">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Drops">
    <xs:simpleType>
      <xs:restriction base="xs:unsignedLong">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Hardware">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CPU" />
        <xs:element ref="PCI" />
        <xs:element ref="IDE" />
        <xs:element ref="SCSI" />
        <xs:element ref="USB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Number" />
        <xs:element ref="Model" />
        <xs:element ref="Cputemp" minOccurs="0" />
        <xs:element ref="Cpuspeed" />
        <xs:element ref="Busspeed" minOccurs="0" />
        <xs:element ref="Cache" minOccurs="0" />
        <xs:element ref="Bogomips" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Number">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Model" type="xs:string" />
  <xs:element name="Cputemp" type="xs:decimal" />
  <xs:element name="Cpuspeed">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Busspeed">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Cache">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Bogomips" type="xs:decimal" />
  <xs:element name="PCI">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Device" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Device">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name" />
        <xs:element ref="Capacity" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Capacity">
    <xs:simpleType>
      <xs:restriction base="xs:unsignedLong">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="IDE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Device" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SCSI">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Device" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="USB">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Device" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Memory">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Free" />
        <xs:element ref="Used" />
        <xs:element ref="Total" />
        <xs:element ref="Percent" />
        <xs:element ref="App" minOccurs="0" />
        <xs:element ref="AppPercent" minOccurs="0" />
        <xs:element ref="Buffers" minOccurs="0" />
        <xs:element ref="BuffersPercent" minOccurs="0" />
        <xs:element ref="Cached" minOccurs="0" />
        <xs:element ref="CachedPercent" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Free">
    <xs:simpleType>
      <xs:restriction base="xs:unsignedLong">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Used">
    <xs:simpleType>
      <xs:restriction base="xs:unsignedLong">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Total">
    <xs:simpleType>
      <xs:restriction base="xs:unsignedLong">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Percent">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0" />
        <xs:maxInclusive value="100" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="App">
    <xs:simpleType>
      <xs:restriction base="xs:unsignedLong">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AppPercent">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0" />
        <xs:maxInclusive value="100" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Buffers">
    <xs:simpleType>
      <xs:restriction base="xs:unsignedLong">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BuffersPercent">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0" />
        <xs:maxInclusive value="100" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Cached">
    <xs:simpleType>
      <xs:restriction base="xs:unsignedLong">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CachedPercent">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0" />
        <xs:maxInclusive value="100" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Swap">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Free" minOccurs="0" />
        <xs:element ref="Used" minOccurs="0" />
        <xs:element ref="Total" minOccurs="0" />
        <xs:element ref="Percent" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Swapdevices">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Mount" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileSystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Mount" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mount">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MountPointID" />
        <xs:element ref="MountPoint" minOccurs="0" />
        <xs:element ref="Type" />
        <xs:element ref="Device" />
        <xs:element ref="Percent" />
        <xs:element ref="Free" />
        <xs:element ref="Used" />
        <xs:element ref="Size" />
        <xs:element ref="MountOptions" minOccurs="0" />
        <xs:element ref="Inodes" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MountPointID">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MountPoint" type="xs:string" />
  <xs:element name="Type" type="xs:string" />
  <xs:element name="Size">
    <xs:simpleType>
      <xs:restriction base="xs:unsignedLong">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MountOptions" type="xs:string" />
  <xs:element name="Inodes">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0" />
        <xs:maxInclusive value="100" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MBinfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Temperature" minOccurs="0" />
        <xs:element ref="Fans" minOccurs="0" />
        <xs:element ref="Voltage" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Temperature">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Item" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Label" />
        <xs:element ref="Value" />
        <xs:element ref="Limit" minOccurs="0" />
        <xs:element ref="Min" minOccurs="0" />
        <xs:element ref="Max" minOccurs="0" />
        <xs:element ref="Model" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Label" type="xs:string" />
  <xs:element name="Value" type="xs:decimal" />
  <xs:element name="Limit" type="xs:decimal" />
  <xs:element name="Min" type="xs:decimal" />
  <xs:element name="Max" type="xs:decimal" />
  <xs:element name="Fans">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Item" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Voltage">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Item" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HDDTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Item" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UPSinfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Ups" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ups">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name" />
        <xs:element ref="Model" />
        <xs:element ref="Mode" />
        <xs:element ref="StartTime" />
        <xs:element ref="Status" />
        <xs:element ref="UPSTemperature" />
        <xs:element ref="OutagesCount" />
        <xs:element ref="LastOutage" />
        <xs:element ref="LastOutageFinish" />
        <xs:element ref="LineVoltage" />
        <xs:element ref="LoadPercent" />
        <xs:element ref="BatteryVoltage" />
        <xs:element ref="BatteryChargePercent" />
        <xs:element ref="TimeLeftMinutes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mode" type="xs:string" />
  <xs:element name="StartTime" type="xs:string" />
  <xs:element name="Status" type="xs:string" />
  <xs:element name="UPSTemperature" type="xs:string" />
  <xs:element name="OutagesCount" type="xs:string" />
  <xs:element name="LastOutage" type="xs:string" />
  <xs:element name="LastOutageFinish" type="xs:string" />
  <xs:element name="LineVoltage" type="xs:decimal" />
  <xs:element name="LoadPercent">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:minInclusive value="0" />
        <xs:maxInclusive value="100" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BatteryVoltage" type="xs:decimal" />
  <xs:element name="BatteryChargePercent">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:minInclusive value="0" />
        <xs:maxInclusive value="100" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TimeLeftMinutes" type="xs:decimal" />
  <xs:element name="Errors">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Error" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Error">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Function" />
        <xs:element ref="Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Function" type="xs:string" />
  <xs:element name="Message" type="xs:string" />
  <xs:element name="Plugins" />
  <xs:element name="refresh" type="xs:string" />
</xs:schema>