lcs-bcdiweb/Bcdiweb/progweb/modspe/TDM.DTD

<!--=================== Text Elements ====================================-->
<!ENTITY % fontstyle "i | b ">
<!ENTITY % phrase "sub | sup ">
<!ENTITY % special "br">
<!ENTITY % inline "%fontstyle; | %phrase; | %special;">
<!ENTITY % Inline "(#PCDATA | %inline; )*">

<!--================== tdm Elements ================================-->
<!ELEMENT tdm (head*,tocitem*)>
<!ATTLIST tdm maxlevel CDATA #IMPLIED>
<!ELEMENT head (#PCDATA)>
<!ATTLIST head level CDATA #REQUIRED>
<!ELEMENT tocitem (item,page?)>
<!ELEMENT item %Inline;>
<!ATTLIST item level CDATA #REQUIRED>
<!ELEMENT page (#PCDATA)>

<!--===================== Inline Elements ================================-->
<!ELEMENT sub %Inline;> <!-- subscript -->
<!ELEMENT sup %Inline;> <!-- superscript -->
<!ELEMENT i %Inline;> <!-- italic -->
<!ELEMENT b %Inline;> <!-- bold -->

<!--===================== Forced line break ================================-->
<!ELEMENT br EMPTY>
